@import "node_modules/bulma/bulma.sass";

$main-color: #7e1083;

.hero.is-info {
  background: $main-color;
}

.select {
  width: 100%;
}

select {
  width: 100%;
}

.is-loading {
  width: 100%;
}

.footer a:not(.icon), .footer a:visited:not(.icon) {
  border-bottom: none;
}